
.app-container {
  display: flex;
  justify-content: center;


}


#dataTable {
  width: 80%;
}


#dataTable th {
  background-color: #f2f2f2; 
}


#dataTable td {
  border-bottom: 1px solid #ddd;
}


#dataTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}


#dataTable tbody tr:nth-child(odd) {
  background-color: #fff; 
}


#dataTable tbody tr td:first-child {
  font-weight: bold;
}

.button{
  max-width: 513px;
  margin: auto;
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.display{
  background: white;
}
  