<div class="app-content">
  <div class="dashboard">
    <img class="icon-menu" src="../../../assets/icon-menu.svg" />
    <button class="menu" mat-button [matMenuTriggerFor]="menu"> <img class="icon" src="../../../assets/profile-circle.svg" />  Mizar T.</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Perfil</button>
      <button mat-menu-item>Configuración</button>
    </mat-menu>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="app-card">
          <div class="grafic">
            <div class="info-grafic">
              <img class="icon-card" src="../../../assets/favorite-profile.svg" />
              <p class="cliente">Maria Benitez</p>
            </div>
            <div class="info">
              <p>Fecha: 12/06/24</p>
              <p>tipo de servicio: Peluqueria</p>
              <p>Empleado: Emily Zorian</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-3">
        <div class="app-card">
          <div class="grafic">
            <div class="info-grafic">
              <img class="icon-card" src="../../../assets/favorite-profile.svg" />
              <p class="cliente">Maria Benitez</p>
            </div>
            <div class="info">
              <p>Fecha: 12/06/24</p>
              <p>tipo de servicio: Peluqueria</p>
              <p>Empleado: Emily Zorian</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-3">
        <div class="app-card">
          <div class="grafic">
            <div class="info-grafic">
              <img class="icon-card" src="../../../assets/favorite-profile.svg" />
              <p class="cliente">Maria Benitez</p>
            </div>
            <div class="info">
              <p>Fecha: 12/06/24</p>
              <p>tipo de servicio: Peluqueria</p>
              <p>Empleado: Emily Zorian</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-3">
        <div class="app-card">
          <div class="grafic">
            <div class="info-grafic">
              <img class="icon-card" src="../../../assets/favorite-profile.svg" />
              <p class="cliente">Maria Benitez</p>
            </div>
            <div class="info">
              <p>Fecha: 12/06/24</p>
              <p>tipo de servicio: Peluqueria</p>
              <p>Empleado: Emily Zorian</p>
            </div>
          </div>
        </div>
      </div>
  

