<body>
    <div class="container2">
        <div class="card">
            <div>
                <div class="header_m">
                <img src="../../../assets/Logo_voila.png" class="logo">
                <div>
                <h4 class="h4"> Registrate</h4>
                </div>
                </div>
            </div>
            
            <div class="container-register">
            <div class="user">
                <div>
                <label class="label" for="username">Email</label>
                </div>
                <div>
                    <input placeholder="Enter email" class="input" type="text">
                </div>
            </div>

            
            <div class="user">
                <div>
                <label class="label" for="username">Username</label>
                </div>
                <div>
                    <input placeholder="Enter Username" class="input" type="text">
                </div>
            </div>

            
            <div class="user">
                <div>
                <label class="label" for="username">password</label>
                </div>
                <div>
                    <input placeholder="Enter password" class="input" type="text">
                </div>
            </div>

        </div>



            <div class="log_in">
                <button class="button" routerLink="/login"> Regresa</button>
                <button class="button"> Registrate </button>
            </div>
        </div>
    </div>    
    <div class="final"> 
    </div>