<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="app-card">
        <div class="grafic">
          <div class="info-grafic">
            <img class="icon-card" src="../../../assets/grafic.svg" />
            <p class="cliente">%</p>
          </div>
          <div class="info">
            <div class="graficos">
              <p>Clientes:</p>
              <p>%</p>
            </div>
            <div class="info-graficos">
              <p>Graficos resultantes</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="app-card">
        <div class="grafic">
          <div class="info-grafic">
            <img class="icon-card" src="../../../assets/group1.svg" />
            <p class="cliente">%</p>
          </div>
          <div class="info">
            <div class="graficos">
              <p>Clientes:</p>
              <p>%</p>
            </div>
            <div class="info-graficos">
              <p>Graficos resultantes</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="app-card">
        <div class="grafic">
          <div class="info-grafic">
            <img class="icon-card" src="../../../assets/filter.svg" />
            <p class="cliente">%</p>
          </div>
          <div class="info">
            <div class="graficos">
              <p>Clientes:</p>
              <p>%</p>
            </div>
            <div class="info-graficos">
              <p>Graficos resultantes</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="app-card">
        <div class="grafic">
          <div class="info-grafic">
            <img class="icon-card" src="../../../assets/schedule.svg" />
            <p class="cliente">%</p>
          </div>
          <div class="info">
            <div class="graficos">
              <p>Clientes:</p>
              <p>%</p>
            </div>
            <div class="info-graficos">
              <p>Graficos resultantes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-9">
        <div class="size-card"></div>
      </div>

      <div class="col-3">
        <div class="size-card"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col">
            <div class="size-card2"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="size-card2"></div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="size-card3"></div>
      </div>

      <div class="col-4">
        <div class="size-card3"></div>
      </div>
    </div>

</div>
