<div>
  <div class="header1">
    <div class="header2">
      <img class="logo" src="../../../assets/Logo_voila.jpg" alt="" />
    </div>

    <div class="dashboard">
      <img class="icon-menu" src="../../../assets/icon-menu.svg" />
    </div>
  </div>

  <div class="container3">
    <div class="vertical-menu">
      <div class="principal-menu">
        <ul class="">
          <li class="">Menu</li>

          <li>
            <a href="" class="">
              <img src="" />
              <span> Dashboard</span>
            </a>
          </li>

          <li>
            <a href="" routerLink="/Cita">
              <img src="" />
              <span>Citas</span>
            </a>
          </li>

          <li>
            <a href="" class="">
              <img src="" />
              <span> Pagos </span>
            </a>
          </li>

          <li>
            <a href="" class="">
              <img src="" />
              <span> Inventario </span>
            </a>
          </li>

          <li>
            <a href="" class="">
              <img src="" />
              <span> Productos</span>
            </a>
          </li>

          <li>
            <a href="" class="">
              <img src="" />
              <span>Empleados</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container-menu">
      <div class="row">
        <div class="app-card">
          <div class="grafic">
            <div class="info">
              <p>Order</p>
              <p>Sed ut perspiciatis unde iste</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="grafic">
            <div class="info">
              <p>Renueve</p>
              <p>Sed ut perspiciatis unde iste</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="grafic">
            <div class="info">
              <p>Average Price</p>
              <p>Sed ut perspiciatis unde iste</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="grafic">
            <div class="info">
              <p>Product</p>
              <p>Sed ut perspiciatis unde iste</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
