<div class="app-container">
  <div class="vertical-menu">
    <div class="principal-menu">
      <div class="header2">
        <img class="logo" src="../../../assets/Logo_voila.jpg" alt="" />
      </div>
      <ul class="list-group list-group-flush">
        <a routerLink="/dashboard" class="list-group-item list-group-item-action">
          <div class="list-item">
            <img width="16px" src="square-list.svg" alt="" />
            <span>Dashboard</span>
          </div>

          <span class="badge text-bg-primary rounded-pill">2</span>
        </a>

        <a routerLink="/dashboard/cita" class="list-group-item list-group-item-action">
          <div class="list-item">
            <img width="16px" src="square-list.svg" alt="" />
            <span>Citas</span>
          </div>

          <span class="badge text-bg-primary rounded-pill">2</span>
        </a>

        <a routerLink="/dashboard/pagos" class="list-group-item list-group-item-action">
          <div class="list-item">
            <img width="16px" src="square-list.svg" alt="" />
            <span>Pagos</span>
          </div>

          <span class="badge text-bg-primary rounded-pill">2</span>
        </a>

        <a routerLink="/dashboard/inventario" class="list-group-item list-group-item-action">
          <div class="list-item">
            <img width="16px" src="square-list.svg" alt="" />
            <span>Inventario</span>
          </div>

          <span class="badge text-bg-primary rounded-pill">2</span>
        </a>

        <a routerLink="/dashboard/producto" class="list-group-item list-group-item-action">
          <div class="list-item">
            <img width="16px" src="square-list.svg" alt="" />
            <span>Productos</span>
          </div>

          <span class="badge text-bg-primary rounded-pill">2</span>
        </a>

        <a routerLink="/dashboard/empleados" class="list-group-item list-group-item-action">
          <div class="list-item">
            <img width="16px" src="square-list.svg" alt="" />
            <span>Empleados</span>
          </div>

          <span class="badge text-bg-primary rounded-pill">2</span>
        </a>
        
        <a routerLink="/dashboard/almacen" class="list-group-item list-group-item-action">
          <div class="list-item">
            <img width="16px" src="square-list.svg" alt="" />
            <span>Almacen</span>
          </div>

          <span class="badge text-bg-primary rounded-pill">2</span>
        </a>
      </ul>
    </div>
  </div>

  <div class="app-content">
    <div class="dashboard">
      <img class="icon-menu" src="../../../assets/icon-menu.svg" />
    </div>

    <div class="app-route">
      <router-outlet />
    </div>
  </div>
</div>
