<h1>Formulario de Pagos</h1>
<form action="procesar_pago.php" method="POST">
    <div class="input-group">
        <div class="left">
            <label for="id_pago">ID Pago:</label>
            <input type="text" id="id_pago" name="id_pago" required>

            <label for="id_cita">ID Cita:</label>
            <input type="text" id="id_cita" name="id_cita">

            <label for="id_venta">ID Venta:</label>
            <input type="text" id="id_venta" name="id_venta">
        </div>
        <div class="right">
            <label for="monto_total">Monto Total:</label>
            <input type="number" id="monto_total" name="monto_total" required>

            <label for="tipo_moneda">Tipo de Moneda:</label>
            <input type="text" id="tipo_moneda" name="tipo_moneda" required>

            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion">
        </div>
    </div>
    <input type="submit" value="Guardar">
</form>
