<h1>Formulario de Cita</h1>
<form action="procesar_cita.php" method="POST">
    <div class="input-group">
        <div class="left">
            <label for="id_cita">ID Cita:</label>
            <input type="text" id="id_cita" name="id_cita" required>

            <label for="id_customer">ID Cliente:</label>
            <input type="text" id="id_customer" name="id_customer" required>

            <label for="id_servicio">ID Servicio:</label>
            <input type="text" id="id_servicio" name="id_servicio" required>

            <label for="id_tipo_servicio">ID Tipo de Servicio:</label>
            <input type="text" id="id_tipo_servicio" name="id_tipo_servicio" required>
        </div>
        <div class="right">
            <label for="id_employee">ID Empleado:</label>
            <input type="text" id="id_employee" name="id_employee" required>

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>

            <label for="hora_inicio">Hora de Inicio:</label>
            <input type="time" id="hora_inicio" name="hora_inicio" required>

            <label for="hora_fin">Hora de Fin:</label>
            <input type="time" id="hora_fin" name="hora_fin" required>
        </div>
    </div>
    <input type="submit" value="Guardar">
</form>
