<h1 mat-dialog-title>Agenda tu cita</h1>

<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label for="id_cita">ID:</mat-label>
    <input matInput type="text" id="id_cita" [(ngModel)]="nuevaCita.id" name="id_cita" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="id_cita">ID Sede:</mat-label>
    <input matInput type="text" id="id_sede" [(ngModel)]="nuevaCita.idSede" name="id_sede" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="id_customer">ID Cliente:</mat-label>
    <input matInput type="text" id="id_customer" [(ngModel)]="nuevaCita.idCliente" name="id_customer" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="id_servicio">ID Servicio:</mat-label>
    <input matInput type="text" id="id_servicio" [(ngModel)]="nuevaCita.idServicio" name="id_servicio" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="id_tipo_servicio"> ID Tipo de Servicio:</mat-label>
    <input matInput type="text" id="id_tipo_servicio" [(ngModel)]="nuevaCita.idTipoServicio" name="id_tipo_servicio" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="id_employee">ID Empleado:</mat-label>
    <input matInput type="text" id="id_employee" [(ngModel)]="nuevaCita.idEmpleado" name="id_employee" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="fecha">Fecha:</mat-label>
    <input matInput type="date" id="fecha" [(ngModel)]="nuevaCita.fecha" name="fecha" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="hora_inicio">Hora de Inicio:</mat-label>
    <input matInput type="time" id="hora_inicio" [(ngModel)]="nuevaCita.horaInicio" name="hora_inicio" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="hora_fin">Hora de Fin:</mat-label>
    <input matInput type="time" id="hora_fin" [(ngModel)]="nuevaCita.horaFin" name="hora_fin" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="fcreate">Fecha de Creación:</mat-label>
    <input matInput type="date" id="fcreate" [(ngModel)]="nuevaCita.createdAt" name="fcreate" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label for="fupdate">Fecha de Actualización:</mat-label>
    <input matInput type="date" id="fupdate" readonly [(ngModel)]="nuevaCita.updatedAt" name="fupdate" required />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="onNoClick()">Atras</button>
  <button mat-raised-button color="primary" (click)="guardar()" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>
