
<div class="container1">

    <div class="card">
        <div>
            <div class="header_m">
            <img src="../../../assets/Logo_voila.png" class="logo">
            <div>
            <h4 class="h4"> Welcome back !</h4>
            <p class="p1"> sign to continue to voila</p>
            </div>
            </div>
        </div>

        <div class="container-login">

        <div class="user">
            <div>
            <label class="label" for="username">Nombre de usuario:</label>
            </div>
            <div>
                <input placeholder="Enter username" class="input" type="text">
            </div>
        </div>

        <div class="user">
            <label class="label" for="password">Contraseña:</label>
            <div>
                <input placeholder="Enter username" class="input" class="input" type="password" id="password" name="password" required><br>
            </div>
        </div>

    </div>

        <div class="log_in">
            <input type="checkbox">
            <p class="p2"> Recuerdame</p>
            <button class="button"> Entrar</button>
        </div>

        <div class="lock1">
            <img class="lock2" src="./Images/lock.svg" alt="">
            <a routerLink="/register" class="link">¿Tienes una cuenta?</a>
        </div>
    </div>
</div>    
