<h1>Formulario de Inventario</h1>
<form action="procesar_formulario.php" method="POST">
    <div class="input-group">
        <div class="left">
            <label for="id_producto">ID Producto:</label>
            <input type="text" id="id_producto" name="id_producto" required>

            <label for="id_almacen">ID Almacén:</label>
            <input type="text" id="id_almacen" name="id_almacen" required>

            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" required>

            <label for="presentacion">Presentación:</label>
            <input type="text" id="presentacion" name="presentacion">
            
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" required>
        </div>
        <div class="right">
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" required>

            <label for="entrada">Entrada:</label>
            <input type="number" id="entrada" name="entrada" required>

            <label for="salida">Salida:</label>
            <input type="number" id="salida" name="salida" required>

            <label for="min_stock">Stock Mínimo:</label>
            <input type="number" id="min_stock" name="min_stock" required>
        </div>
    </div>
    <input type="submit" value="Guardar">
</form>
