<h1 mat-dialog-title>Formulario de Inventario</h1>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Inventario</mat-label>
    <input matInput [(ngModel)]="inventario" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Producto</mat-label>
    <input matInput [(ngModel)]="producto" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Almacén</mat-label>
    <input matInput [(ngModel)]="almacen" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <input matInput [(ngModel)]="descripcion" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Presentación</mat-label>
    <input matInput [(ngModel)]="presentacion" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Cantidad</mat-label>
    <input matInput type="number" [(ngModel)]="cantidad" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Stock</mat-label>
    <input matInput type="number" [(ngModel)]="stock" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Entrada</mat-label>
    <input matInput [(ngModel)]="entrada" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Salida</mat-label>
    <input matInput [(ngModel)]="salida" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Min Stock</mat-label>
    <input matInput type="number" [(ngModel)]="min_stock" required />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Atras</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()">Guardar</button>
</mat-dialog-actions>
